/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Shadows Into Light", cursive;
  scroll-behavior: smooth;
}

.container {
  height: 100vh;
  position: relative;
}
#shoes1 {
  background-image: url(../img/01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: red;
}

#shoes2 {
  background-image: url(../img/02.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: green;
}
#shoes3 {
  background-image: url(../img/03.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: yellow;
}
.text-center {
  position: absolute;
  top: 80%;
  left: 37%;
  color: yellow;
  text-transform: uppercase;
}
#shoes3 h2 {
  color: green;
}
